[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User={{ django_user }}
Group=www-data
WorkingDirectory=/home/{{ django_user }}/webapp/{{ application_name }}
ExecStart=/home/{{ django_user }}/webapp/{{ application_name }}/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          django_budget.wsgi:application

[Install]
WantedBy=multi-user.target
